<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{$basePath}/style/styles.css">
	<link href="{$basePath}\font\open-sans.css" rel="stylesheet">

	<script src="{$basePath}/js/scripts.js"></script>
	<script src="{$basePath}/js/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>

	<title>{ifset title}{include title|stripHtml} | {/ifset}Peachenka</title>
	{if $presenter->isLinkCurrent("Verification:default")}
		<style>
			html, body{
				height: 100%;
			}
		</style>
	{else}
		<style>
			html, body{
				background: #f4f4f4;
			}
		</style>
	{/if}
</head>

<body>
	{include content}

	{foreach $flashes as $flash}
		<div class="flash flash-{$flash->type}">{$flash->message}</div>
	{/foreach}

	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}
</body>
</html>
