@light-grey-a: #aaa;
@light-grey-c: #ccc;
@light-grey-d: #ddd;
@light-grey-e: #eee;

@dark-grey-3: #333;
@dark-grey-5: #555;
@dark-grey-9: #999;

@font-color: #272727;

@green-color: #1ba75b;
@red-color: #db0524;
@light-green-color: #c5ecb6;
@orange-color: #fdad00;
@yellow-color: #fde400;
@blue-color: #2f4b7e;

@button-green: @green-color;
@button-green-hover: #108145;
@button-red: @red-color;
@button-red-hover: #b3051f;
@button-blue: @blue-color;
@button-blue-hover: #1a2f55;

@lightest-background: #f9f9f9;
@light-background: #f4f4f4;
@dark-background: #dedede;
@dark-blue-background: #263963;
@light-blue-background: #395187;

@base-color-yellow: #fdc100;
@base-color-orange: #e77911;
@base-color-red: #db0524;
@base-color-pink: #e4118c;
@base-color-purple: #883183;
@base-color-blue: #2f4b7e;
@base-color-green: #1ba75b;
@base-color-grey: #afb5bb;