html,
body {
  min-height: 550px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #272727;
  font-size: 14px;
}
input:focus:invalid {
  border: solid 1px #db0524;
}
.flash {
  z-index: 101;
  position: fixed;
  bottom: 0;
  left: 30px;
  padding: 5px 10px;
  font-size: 14px;
  max-width: 500px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  animation: slideUp 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both, disappear 1s 5s forwards;
}
.flash-info {
  background: #2f4b7e;
  color: white;
}
.flash-alert {
  background: #fde400;
}
.flash-denied {
  background: #fdad00;
  color: white;
}
.flash-error {
  color: white;
  background: #db0524;
}
.flash-success {
  color: white;
  background: #1ba75b;
}
@keyframes disappear {
  to {
    visibility: hidden;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.password__input {
  position: relative;
  cursor: default;
}
.password__eye {
  position: relative;
  z-index: 1;
  width: 17px;
  height: 11px;
  cursor: pointer;
  float: right;
  top: -18px;
  right: 10px;
}
.header-left__show-sidebar {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 0.4px solid #aaa;
  border-left: unset;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 100px;
  background-color: #f4f4f4;
  opacity: 70%;
  cursor: pointer;
}
.header-left__show-sidebar:hover {
  opacity: 100%;
  background-color: #dedede;
}
@media screen and (min-width: 526px) {
  .header-left__show-sidebar {
    display: none;
  }
}
.header-left__container {
  padding-top: 20px;
  text-align: left;
  width: 100%;
  max-width: 210px;
  height: 100%;
  color: white;
  background-color: #263963;
  border-right: 0.2px solid #aaa;
  position: fixed;
  font-size: 16px;
}
@media screen and (max-width: 525px) {
  .header-left__container {
    max-width: 170px;
    display: none;
  }
}
.header-left__section {
  padding: 8px 0;
}
.header-left__name {
  padding: 3px 10px 8px 25px;
}
.header-left__item {
  padding: 3px 10px 3px 25px;
  cursor: pointer;
}
.header-left__item-user {
  padding: 3px 10px 3px 30px;
}
.header-left__item:hover {
  background-color: #395187;
}
.header-top__container {
  height: 70px;
  background-color: white;
  border-left: 0.2px solid #aaa;
}
@media screen and (max-width: 525px) {
  .header-top__container {
    border-left: unset;
  }
}
@media screen and (max-width: 363px) {
  .header-top__container {
    height: unset;
  }
}
.header-top__section {
  display: inline-block;
}
.header-top__section-logo {
  float: left;
  padding: 10.5px 0 10.5px 5%;
}
.header-top__section-logo__icon {
  height: 40px;
  width: auto;
}
@media screen and (max-width: 1020px) and (min-width: 364px) {
  .header-top__section-logo {
    display: none;
  }
}
@media screen and (max-width: 363px) {
  .header-top__section-logo {
    display: block;
    float: none;
  }
}
.header-top__section-search {
  width: 30%;
  min-width: 200px;
}
.header-top__section-search input {
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: white;
  padding: 5px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  margin: 20px 0 20px 20px;
}
@media screen and (max-width: 635px) and (min-width: 526px) {
  .header-top__section-search input {
    margin: 20px 0;
  }
}
@media screen and (max-width: 363px) {
  .header-top__section-search input {
    margin: 0 auto 10px;
  }
}
@media screen and (max-width: 1186px) and (min-width: 1021px) {
  .header-top__section-search {
    width: unset;
  }
}
@media screen and (max-width: 1020px) and (min-width: 364px) {
  .header-top__section-search {
    float: left;
    padding-left: 5%;
  }
}
@media screen and (max-width: 363px) {
  .header-top__section-search {
    width: 90%;
    margin: 0 10px 0 0;
  }
}
.header-top__section-user {
  float: right;
  min-width: 40%;
  height: 70px;
}
.header-top__section-user-icon {
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
  border-radius: 50%;
  background-color: aliceblue;
  top: 10px;
  position: absolute;
}
@media screen and (max-width: 363px) {
  .header-top__section-user-icon {
    display: none;
  }
}
.header-top__section-user-email {
  display: inline-block;
  margin: 24px 4% 24px 10%;
  font-size: 16px;
}
@media screen and (max-width: 847px) {
  .header-top__section-user-email {
    display: none;
  }
}
@media screen and (max-width: 1020px) and (min-width: 848px) {
  .header-top__section-user {
    margin-right: 30px;
  }
}
@media screen and (max-width: 847px) and (min-width: 636px) {
  .header-top__section-user {
    min-width: 30%;
  }
}
@media screen and (max-width: 635px) and (min-width: 526px) {
  .header-top__section-user {
    min-width: 27%;
    margin-right: 10px;
  }
}
@media screen and (max-width: 363px) {
  .header-top__section-user {
    display: none;
  }
}
.header-top__section-user-options {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  position: absolute;
  display: none;
  width: 200px;
  right: 30px;
  top: 60px;
  -webkit-box-shadow: 5px 5px 10px -5px #949494;
  -moz-box-shadow: 5px 5px 10px -5px #949494;
  box-shadow: 5px 5px 10px -5px #949494;
  z-index: 1;
}
@media screen and (max-width: 635px) and (min-width: 526px) {
  .header-top__section-user-options {
    right: 10px;
  }
}
@media screen and (max-width: 363px) {
  .header-top__section-user-options {
    display: none;
  }
}
.header-top__section-user-options-item {
  padding: 3px 0;
}
.header-top__section-user-options-item:hover {
  background-color: #1ba75b;
  border: unset;
  cursor: pointer;
}
.header-top__section-user-options-email {
  padding: 3px 0;
  border-bottom: 1px solid #aaa;
}
.header-top__section-user-menu {
  display: none;
  border-bottom: 1px solid #aaa;
  margin-bottom: 7px;
}
@media screen and (max-width: 363px) {
  .header-top__section-user-menu {
    display: block;
  }
}
.header-top__section-user-menu-item {
  padding: 3px 0;
}
.header-top__section-user-menu-item:hover {
  background-color: #1ba75b;
  border: unset;
  cursor: pointer;
}
@media screen and (max-width: 363px) {
  .header-top__section-user-menu-item {
    display: inline-block;
    width: 50%;
    padding: 5px 0;
  }
}
.header-top__section-user-menu-email {
  color: white;
  background-color: #263963;
  padding: 5px 0;
}
.registration__container {
  text-align: center;
  height: 100%;
  background-color: #263963;
  min-width: 150px;
}
@media screen and (max-width: 650px) {
  .registration__container {
    min-height: 750px;
  }
}
.registration__line {
  display: flex;
  background: #f4f4f4;
  border: 0.5px solid #aaa;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 90%;
}
@media screen and (max-width: 650px) {
  .registration__line {
    display: block;
    -ms-transform: unset;
    transform: unset;
    top: 20px;
    width: 80%;
  }
}
.registration__col {
  flex: 2;
  max-width: 470px;
}
.registration__col--left {
  padding: 0 30px 20px 20px;
  border-right: 0.2px solid #aaa;
}
@media screen and (max-width: 650px) {
  .registration__col--left {
    border-right: unset;
    border-bottom: 0.2px solid #aaa;
  }
}
.registration__col--right {
  padding: 0 20px 20px 30px;
}
@media screen and (max-width: 650px) {
  .registration__col {
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 350px) {
  .registration__col {
    padding: unset;
  }
}
.registration__title {
  font-size: 30px;
  font-weight: 200;
  margin: 20px auto 10px;
}
@media screen and (max-width: 650px) {
  .registration__title {
    font-size: 26px;
    margin-bottom: 0;
  }
}
.registration__logo {
  height: auto;
  width: auto;
  margin: auto;
  position: relative;
  margin-top: 100px;
}
@media screen and (max-width: 280px) {
  .registration__logo {
    width: 80%;
  }
}
.registration__form {
  padding: 0 15px;
}
.registration__form-item {
  margin-bottom: 4px;
}
.registration__form-item input {
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: white;
  padding: 3px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 96%;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.registration__item-label {
  margin: 5px 0 0 4px;
  float: left;
}
.registration__button {
  margin: 20px auto 10px;
  padding: 7px 0;
  display: block;
  background-color: #1ba75b;
  border: 1px solid #1ba75b;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  width: 98%;
}
.registration__button:hover {
  background: #108145;
  border: 1px solid #108145;
  color: white;
}
.logins__container {
  max-width: 1700px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  min-width: 150px;
}
@media screen and (min-width: 1700px) {
  .logins__container {
    border-right: 0.3px solid #aaa;
  }
}
.logins__line {
  display: flex;
  background: #f4f4f4;
  position: relative;
  height: 100%;
  width: 100%;
}
.logins__col--right {
  margin-left: 210px;
  width: -webkit-calc(-110%);
  width: -moz-calc(-110%);
  width: calc(100% - 210px);
}
@media screen and (max-width: 525px) {
  .logins__col--right {
    margin-left: 0;
    width: 100%;
  }
}
.logins__list-container {
  overflow: hidden;
  width: 100%;
  margin: 20px auto 0;
}
@media screen and (max-width: 363px) {
  .logins__list-container {
    margin-top: 10px;
  }
}
.logins__list-to-top {
  background-color: #eee;
  border: 0.5px solid #999;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  width: 30px;
  height: 30px;
  padding: 7px;
  top: 170px;
  display: none;
  z-index: 1;
  opacity: 70%;
  cursor: pointer;
}
.logins__list-to-top:hover {
  background-color: white;
  opacity: 100%;
}
.logins__list-to-top-icon {
  max-width: 30px;
}
.logins__list-item {
  border: 0.5px solid #eee;
  border-radius: 3px;
  width: 21%;
  min-width: 170px;
  height: 70px;
  margin: 0 0 30px 30px;
  float: inline-start;
  background: #f9f9f9;
  -webkit-box-shadow: 5px 5px 10px -5px #949494;
  -moz-box-shadow: 5px 5px 10px -5px #949494;
  box-shadow: 5px 5px 10px -5px #949494;
}
.logins__list-item:hover {
  background-color: #dedede;
  border: 0.5px solid #ddd;
  cursor: pointer;
}
@media screen and (max-width: 1060px) and (min-width: 848px) {
  .logins__list-item {
    width: 28%;
  }
}
@media screen and (max-width: 847px) and (min-width: 741px) {
  .logins__list-item {
    width: 42%;
  }
}
@media screen and (max-width: 740px) and (min-width: 526px) {
  .logins__list-item {
    width: 46%;
    margin: 0 0 10px 10px;
    min-width: 137px;
  }
}
@media screen and (max-width: 525px) and (min-width: 363px) {
  .logins__list-item {
    width: 45%;
    margin: 0 0 20px 3%;
    min-width: 140px;
  }
}
@media screen and (max-width: 362px) {
  .logins__list-item {
    width: 93%;
    margin: 0 0 12px 3%;
    min-width: 100px;
  }
}
.list-item__col {
  display: inline-block;
}
.list-item__col--left {
  float: left;
  margin: 10px 0 10px 20px;
}
@media screen and (max-width: 740px) and (min-width: 601px) {
  .list-item__col--left {
    margin: 15px 0 0 15px;
  }
}
.list-item__col--right {
  margin: 15px 0 0 20px;
  text-align: left;
  float: left;
  color: #555;
}
@media screen and (min-width: 1421px) {
  .list-item__col--right {
    max-width: 60%;
  }
}
@media screen and (max-width: 1420px) and (min-width: 1161px) {
  .list-item__col--right {
    max-width: 50%;
  }
}
@media screen and (max-width: 1160px) and (min-width: 621px) {
  .list-item__col--right {
    max-width: 45%;
  }
}
@media screen and (max-width: 740px) and (min-width: 621px) {
  .list-item__col--right {
    margin: 15px 0 0 15px;
  }
}
@media screen and (max-width: 620px) and (min-width: 363px) {
  .list-item__col--right {
    margin: 15px 0 0;
    max-width: 80%;
  }
}
@media screen and (max-width: 362px) and (min-width: 231px) {
  .list-item__col--right {
    max-width: 55%;
  }
}
@media screen and (max-width: 230px) {
  .list-item__col--right {
    max-width: 45%;
  }
}
.list-item__col-logo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  opacity: 80%;
}
@media screen and (max-width: 740px) and (min-width: 621px) {
  .list-item__col-logo {
    max-width: 40px;
    max-height: 40px;
  }
}
@media screen and (max-width: 620px) and (min-width: 363px) {
  .list-item__col-logo {
    display: none;
  }
}
.list-item__col-website {
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.list-item__col-username {
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.logins__background {
  background: #f4f4f4;
  height: 100%;
  width: 100%;
}
.logins__card {
  background: #f9f9f9;
  border: 0.5px solid #eee;
  border-radius: 3px;
  max-width: 450px;
  margin: 20px 0 0 50px;
  padding: 40px 20px 20px;
  -webkit-box-shadow: 5px 5px 10px -5px #949494;
  -moz-box-shadow: 5px 5px 10px -5px #949494;
  box-shadow: 5px 5px 10px -5px #949494;
}
.logins__card input {
  border: none;
  background-color: #f9f9f9;
  padding: 2px 5px 5px;
  width: 90%;
  font-size: 16px;
  color: #272727;
}
.logins__form-item {
  margin-bottom: 8px;
}
.logins__form-item-label {
  width: 100%;
  display: block;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  color: #555;
}
.logins__form-buttons {
  margin: 30px auto 10px;
}
.logins__button {
  max-width: 100px;
  display: inline-block;
  width: 100%;
  line-height: 27px;
  color: white;
  border: none;
  border-radius: 1px;
  text-decoration: none;
  cursor: pointer;
  background-color: #1ba75b;
  border: 1px solid #1ba75b;
}
.logins__button:hover {
  background-color: #108145;
  border: 1px solid #108145;
  color: white;
}
.logins__button--red {
  background-color: #db0524;
  border: 1px solid #db0524;
}
.logins__button--red:hover {
  background-color: #b3051f;
  border: 1px solid #b3051f;
  color: white;
}
.logins__button--grey {
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  color: #272727;
}
.logins__button--grey:hover {
  background-color: #dedede;
  border: 1px solid #aaa;
  color: #272727;
}
.logins__button--update {
  display: none;
}
.delete-window__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  background-color: black;
  display: none;
}
.delete-window__container {
  z-index: 1;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 50%;
  display: none;
}
.delete-window__line {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: 150px;
}
.delete-window__text {
  padding: 40px 0 30px;
}
